/* 
Google Fonts:
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@500;600&display=swap");

/* 
Basic CSS
*/
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  background-color: #fff;
  color: #646464;
}
h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 48px;
}
.theme-button {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #37806b;
  color: #fff;
  border-radius: 20px 0px;
  padding: 10px 20px;
  margin-top: 30px;
  display: inline-block;
  transition: 0.03s;
}
.theme-button:hover {
  background-color: #caa892;
}

.section-heading h4 {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: #646464;
}
.section-heading h3 {
  font-size: 48px;
  color: #212121;
  text-transform: capitalize;
}

.design-image {
  position: relative;
  z-index: 1;
}
.design-image::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border: 2px solid #b0855b;
  border-radius: 140px 0px;
  left: 20px;
  top: 20px;
  z-index: -1;
}
.design-image-two {
  position: relative;
  z-index: 1;
}
.design-image-two::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border: 2px solid #b0855b;
  border-radius: 140px 0px;
  left: -20px;
  top: -20px;
  z-index: -1;
}

/* 
Header Area CSS
*/
.header-area {
  padding: 30px 0;
}
.header-area .nav-item {
  margin-left: 30px;
}
.header-area .nav-link {
  color: #111;
  font-weight: 600;
}
.header-area .nav-link.active {
  color: #646464;
}
.header-area .nav-item:last-child {
  margin-left: 45px;
}
.header-area .nav-item:last-child .nav-link {
  background-color: #caa892;
  color: #fff;
  border-radius: 15px 0px;
  padding: 10px 20px;
  text-transform: capitalize;
}

@media (max-width: 991px) {
  .header-area .navbar-toggler {
    border: none;
    box-shadow: none;
  }
  .header-area .nav-item {
    margin: 5px 0;
  }
  .header-area .nav-item:last-child {
    margin-left: 0;
  }
  .header-area .nav-item:last-child .nav-link {
    text-align: center;
    padding: 15px 0;
  }
  .header-area .navbar-toggler {
    border: none;
    box-shadow: none;
  }
}

/* 
Main Area CSS
*/
.hero-area {
  padding: 80px 0;
}
.hero-text h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #646464;
}
.hero-text h2 {
  font-weight: 600;
  color: #212121;
  font-size: 72px;
}
.hero-image img {
  width: 100%;
  border-radius: 140px 0px;
}

@media (max-width: 991px) {
  .hero-text h4 {
    font-size: 18px;
  }
  .hero-text h2 {
    font-size: 48px;
  }
  .hero-image {
    margin-top: 50px;
  }
}

/* 
Service Area CSS
*/
.service-area {
  padding: 100px 0;
}
.all-services {
  margin-top: 60px;
  position: relative;
}
.single-services-area {
  padding: 15px;
}
.single-service {
  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
  border-radius: 60px 0px;
  padding: 40px 20px 40px 30px;
  transition: 0.3s;
  cursor: pointer;
}
.single-service:hover {
  background-color: #caa892;
  color: #fff;
}
.single-service:hover h4 {
  color: #fff;
}
.service-image img {
  width: 100%;
}
.service-text h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #212121;
}
.service-text p {
  margin-bottom: 0;
}
.service-area .owl-nav {
  position: absolute;
  right: 0;
  top: -80px;
}
.service-area .owl-nav span {
  height: 30px;
  width: 30px;
  background-color: #fff;
  color: #646464;
  display: inline-block;
  border-radius: 50%;
  box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.service-area .owl-nav span:hover {
  background-color: #37806b;
  color: #fff;
}
.service-area .owl-next {
  margin-left: 15px;
}

@media (max-width: 991px) {
  .service-area .section-heading h4 {
    font-size: 18px;
  }
  .service-area .section-heading h3 {
    font-size: 40px;
  }
}

/* 
About Area CSS
*/
.about-area {
  padding: 100px 0;
  position: relative;
}
.about-image img {
  width: 100%;
}

@media (max-width: 991px) {
  .about-image {
    margin-bottom: 80px;
  }
  .about-area .section-heading h4 {
    font-size: 18px;
  }
  .about-area .section-heading h3 {
    font-size: 40px;
  }
}

/* 
Success Area CSS
*/
.success-area {
  padding: 100px 0;
}
.section-heading h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 288px;
  background-image: url(assets/img/text-bg.png);
  -webkit-background-clip: text;
  color: transparent;
  background-size: cover;
}
.section-heading h3 {
  font-size: 50px;
}

@media (max-width: 991px) {
  .success-image {
    margin-top: 80px;
  }
  .section-heading h3 {
    font-size: 40px;
  }
}

/* 
Footer Area CSS
*/
.footer-area {
  position: relative;
}
.footer-top {
  padding-top: 90px;
  padding-bottom: 70px;
}
.footer-about img {
  margin-bottom: 18px;
}
.footer-link h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #212121;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.footer-link ul {
  margin: 0;
  padding: 0;
}
.footer-link ul li {
  list-style: none;
}
.footer-link ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #646464;
  padding: 5px;
  display: inline-block;
  transition: 0.3s;
}
.footer-link ul li a:hover {
  color: #37806b;
}
.footer-link address {
  font-weight: 600;
  line-height: 2.2;
}
.social-link li {
  display: inline-block;
  margin-left: 5px;
}
.social-link li a {
  background-color: #d5d5d5;
  color: #fff !important;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.social-link li a:hover {
  background-color: #37806b;
}
.footer-bottom {
  border-top: 1px solid #c4c4c4;
}
.footer-bootom-text a {
  text-decoration: none;
  color: #37806b;
}
.design {
  position: absolute;
  top: -70px;
  left: 0;
}
.design img {
  height: 140px;
}

@media (max-width: 991px) {
  .footer-link ul li:last-child {
    margin-bottom: 30px;
  }
  .social-link li:last-child {
    margin-bottom: 0 !important;
  }
}
